 body {
            font-family: Arial, sans-serif;
            margin: 20px;
            background-color: lavender;

            background-image: url('static/images/img1.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }

        form {
            max-width: 600px;
            margin: auto;
        }

        label {
            display: block;
            margin-top: 10px;
        }

        input, select, textarea {
            width: 100%;
            padding: 8px;
            margin-top: 5px;
            margin-bottom: 10px;
            box-sizing: border-box;
        }

        button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }